<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.rm.server.mapper.EcontractOrgMapper">

    <insert id="addEcontractOrg" parameterType="com.bc.rm.server.entity.econtract.EcontractOrg">
        insert into t_e_contract_org
        (
            org_id,
            org_third_party_user_id,
            org_creator,
            org_name,
            org_id_type,
            org_id_number,
            org_legal_id_number,
            org_legal_name,
            org_create_time,
            org_modify_time
        )
        values
        (
            #{orgId},
            #{thirdPartyUserId},
            #{creator},
            #{name},
            #{idType},
            #{idNumber},
            #{legalIdNumber},
            #{legalName},
            now(),
            now()
        )
    </insert>

    <update id="updateEcontractOrgByOrgId" parameterType="com.bc.rm.server.entity.econtract.EcontractOrg">
        update t_e_contract_org
        set
        <if test="name != null and name !=''">
            org_name = #{name},
        </if>
        <if test="idType != null and idType !=''">
            org_id_type = #{idType},
        </if>
        <if test="idNumber != null and idNumber !=''">
            org_id_number = #{idNumber},
        </if>
        <if test="legalIdNumber != null and legalIdNumber !=''">
            org_legal_id_number = #{legalIdNumber},
        </if>
        <if test="legalName != null and legalName !=''">
            org_legal_name = #{legalName},
        </if>
        org_modify_time = now()
        where org_id = #{orgId}
    </update>

    <delete id="deleteOrgByOrgId" parameterType="String">
        delete from t_e_contract_org
        where org_id = #{orgId}
    </delete>

    <delete id="deleteOrgByThirdPartyUserId" parameterType="String">
        delete from t_e_contract_org
        where org_third_party_user_id = #{thirdPartyUserId}
    </delete>

</mapper>