<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.rm.server.mapper.EcontractAccountMapper">

    <resultMap id="EcontractAccount" type="com.bc.rm.server.entity.econtract.EcontractAccount">
        <id column="account_id" property="id" jdbcType="VARCHAR"/>
        <result column="account_third_party_user_id" property="thirdPartyUserId" jdbcType="VARCHAR"/>
        <result column="account_name" property="name" jdbcType="VARCHAR"/>
        <result column="account_id_type" property="idType" jdbcType="VARCHAR"/>
        <result column="account_id_number" property="idNumber" jdbcType="VARCHAR"/>
        <result column="account_mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="account_mail" property="email" jdbcType="VARCHAR"/>
        <result column="account_create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="account_modify_time" property="modifyTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addEcontractAccount" parameterType="com.bc.rm.server.entity.econtract.EcontractAccount">
        insert into t_e_contract_account
        (
            account_id,
            account_third_party_user_id,
            account_name,
            account_id_type,
            account_id_number,
            account_mobile,
            account_mail,
            account_create_time,
            account_modify_time
        )
        values
        (
            #{id},
            #{thirdPartyUserId},
            #{name},
            #{idType},
            #{idNumber},
            #{mobile},
            #{email},
            now(),
            now()
        )
    </insert>

    <update id="updateEcontractAccount" parameterType="com.bc.rm.server.entity.econtract.EcontractAccount">
        update t_e_contract_account
        set
        <if test="thirdPartyUserId != null and thirdPartyUserId !=''">
            account_third_party_user_id = #{thirdPartyUserId},
        </if>
        <if test="name != null and name !=''">
            account_name = #{name},
        </if>
        <if test="idType != null and idType !=''">
            account_id_type = #{idType},
        </if>
        <if test="idNumber != null and idNumber !=''">
            account_id_number = #{idNumber},
        </if>
        <if test="mobile != null and mobile !=''">
            account_mobile = #{mobile},
        </if>
        <if test="email != null and email !=''">
            account_mail = #{email},
        </if>
        account_modify_time = now()
        where account_id = #{id}
    </update>

    <delete id="deleteEcontractAccountByAccountId" parameterType="String">
        delete from t_e_contract_account
        where account_id = #{accountId}
    </delete>

    <delete id="deleteEcontractAccountByThirdPartyUserId" parameterType="String">
        delete from t_e_contract_account
        where account_third_party_user_id = #{thirdPartyUserId}
    </delete>

    <update id="updateSignPwd" parameterType="map">
        update t_e_contract_account
        set
        account_sign_pwd = #{password}
        where account_id = #{accountId}
    </update>

    <select id="getEcontractAccountListByParams" resultMap="EcontractAccount">
        select *
        from t_e_contract_account
        where 1 = 1
        order by account_create_time desc
    </select>
</mapper>